* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 230%;
    line-height: 3rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* HEADER */

header {
    height: 150px;
    display: flex;
}

header div {
    flex: 2;
}

div img {
    margin-left: 65px;
    margin-top: 55px;
}

header nav{
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}

nav ul a{
    text-decoration: none;
    color: #000;
}

nav ul a:hover {
    text-decoration: underline;
}

header ul li {
    padding-right: 5px;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    flex-shrink: 1;
}

/* SECTION 1: PRESENTATION */

.presentation {
    height: 480px;
    display: flex;
}

.presentation div {
    flex: 1;
}

.illustration1 {
    background-image: url('./images/illustration-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.presentation-text {
    margin-left: 65px;
    margin-top: 85px;
}

.presentation-text p {
    padding-top: 2%;
    text-align: justify;
    padding-right: 11%;
}

.presentation-text form {
    padding-top: 3%;
}

.input-text {
    width: 50%;
    margin-right: 2%;
    padding: 2%;
}

.input-bottom {
    width: 31%;
    background-color: #3065F8;
    color: white;
    border: #3065F8;
    border-radius: 4%;
    box-shadow: 3px 6px #F6F6FE;
    padding: 2.3%;
}

@media only screen and (max-width: 748px) {
    .presentation-text {
        margin-top: 10px;
    }
}

/* SECTION 2: SERVICE */

.service {
    background-image: url('./images/curve-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 630px;
    display: flex;
}

.service-container {
    flex: 1;
    margin-top: 80px;
    margin-left: 65px;
}

.service-container p {
    padding-top: 3%;
    padding-right: 8%;
    text-align: left;
}

#illustration-2 {
    background-image: url('./images/illustration-2.svg');   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.service-anchor{
    padding: 19px 0 40px 0;
}

.service-anchor a {
    color: #38A28B;
    text-decoration: none;
}

.service-anchor a:hover {
    text-decoration: underline;
}

.service-anchor img {
    margin: 0;
    padding-left: 4px;
}
.quotation {
    background-color: white;
    width: 60%;
    height: 220px;
    border-radius: 3%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1062px){
  .quotation {
      width: 100%;
      padding: 10px;
      height: 180px;
      margin-top: 0;
  }  
  .quotation .phrase {
      font-size: .5rem;
  }
  .service-anchor {
      padding-bottom: 10px;
  }
  .service-container {
    margin-top: 50px;
}
}

.quotation div {
    flex: 1;
}

.quotation .phrase {
    flex: 2;
    font-size: .8rem;
}

.quotation-marks{
    margin: 0 0 0 0;
}

.avatar {
    display: flex;
    padding-top: 18px;
}

.avatar img {
    width: 13%;
    border-radius: 50%;
    margin: auto;
}

.avatar h6{
    font-size: .6rem;
    font-weight: bold;
    margin: auto; 
    padding-top: 4px;
    padding-left: 3px;
}

.avatar p {
    font-size: .6rem;
    margin: auto;
    line-height: 0;
    padding-left: 3px;
}

/* SECTION 3: SIGN-UP */

.sign-up {
    height: 350px;
    background-color: #585989;
    display: flex;
}

.sign-text {
    color: white;
    margin-left: 65px;
    align-self: center;
    flex: 1.5;
}

.sign-text h2 {
    padding-bottom: 20px;
    font-size: 2rem;
}

.sign-text p {
    width: 60%;
}

.sign-form {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.sign-form .email {
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px rgba(0, 0, 0, 0.5 );
    border-radius: 2%;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.sign-form .button {
    padding: 15px;
    background-color: #3065F8;
    border: 1px solid #3065F8;
    border-radius: 3%;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 45.5%;

}

@media only screen and (max-width: 900px) {
    .sign-form .button {
        width: 93%;
    }
}

/* FOOTER  */

footer{
    height: 400px;
    background-color: #070439;
}

footer img{
    margin-left: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
    margin-right: 120px;
    margin-top: 10px;
    padding-top: 5px;
    height: 150px;
}

@media only screen and (max-width: 850px){
 .footer-container p {
     font-size: 0.8rem;
 }
}

.footer-container p {
    color: white;
}

.column1 {
    display: flex;
    padding-bottom: 20px;
}
.column1 img{
    margin: 0;
    padding-right: 8px;
}

.column2and3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column2and3 a {
    text-decoration: none;
    color: #fff;
}

.column2and3 a:hover {
    text-decoration: underline;
}

.column4 img {
    margin-top: -5px;
} 

/* MOBILE DESIGN AT BREAKING POINT 745PX */

@media only screen and (max-width: 745px){
    
    body {
        font-size: 13px;
    }

    /*header*/

    header {
        height: 180px;
    }

    header div {
        flex: 1;
    }

    header nav {
        flex: 2;
    }
    
    header nav ul {
        flex-wrap: wrap;
    }

    div img {
        margin-left: 10px;
        margin-top: 65px;
        width: 130px;
    }


    /*setion 1 presentation*/
    
    .presentation {
        height: 800px;
        flex-direction: column-reverse;
    }
    .presentation-text {
        text-align: center;
        margin: auto;
        padding: 0px 10px;
    }

    .presentation-text p {
        text-align: center;
        padding-right: 0;
    }

    .presentation-text form {
        display: flex;
        flex-direction: column;
    }

    .presentation-text form input {
        width: 90%;
        margin: 8px auto;
    }

    /*section 2 service*/

    .service {
        height: 1000px;
        flex-direction: column-reverse;
        background-image: url('./images/curve-mobile.svg');
    }

    .service h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .service p {
        padding-right: 0;
    }

    #service-text {
        padding: 0 15px;
        margin: auto;
        flex: 1.5;
        padding-bottom: 0;
    }

    #illustration-2 { 
        margin-left: 10px;
        background-position: center;
        flex: 1;
    }

    .service-anchor {
        text-align: center;
        font-size: 1.1rem;
        padding: 30px 0;
    }

    .service-anchor img {
        width: 20px;
    }

    .quotation {
        margin: auto;
        width: 90%;
        height: 200px;

    }

    .quotation-marks{
        width: 30px;
    }

    .avatar img {
        width: 40px;
        margin-top: -2px;
    }

    /* section 3: sign-up*/

    .sign-up {
        flex-direction: column;
    }

    .sign-text {
        text-align: center;
        margin: 35px 10px 10px 10px;
        padding-bottom: 0;
        flex: 0.7;
    }

    .sign-text p {
        text-align: center;
        width: 100%;
        padding-bottom: 0;
    }

    .sign-form {
        flex: 1;
        width: 70%;
    }

    .sign-form .email {
        margin-right: 0;
        width: 100%;
    }

    .sign-form .button {
        width: 100%;
    }

    /* footer */

    footer {
        height: 500px;
    }

    .footer-logo {
        margin-top: 10px;
        margin-left: 10px;
        width: max-content;
    }

    .footer-container {
        flex-direction: column;
        height: 400px;
        margin-left: 40px;
    }

    .column1 img {
        width: 21px;
        flex-shrink: 1;
    }

    .column2and3 {
        line-height: 1.5rem;
    }

    .column4 {
        text-align: center;
    }

}